{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "RSS_PROCESSOR_URL": "http://localhost:7071/api/RssProcessor",
    "ARTICLE_SIMPLIFIER_URL": "http://localhost:7072/api/ArticleSimplifier",
    "IMAGE_GENERATOR_URL": "http://localhost:7073/api/ImageGenerator"
  }
}
